html {
    background-color: aqua;
}

.tabla {
    border-collapse: collapse;
    background-color: beige;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    min-width: 20px;
    text-align: center;
}

.fa-trash {
    color: red;
}
.fa-edit {
    color: blue;
}
.fa-plus {
    color: green;
}

.nav-list {
    list-style-type: none;
    display: flex;
}
.nav-button {
    margin: 4px;
}